/* general styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: aliceblue;
}

h1, h2, h3, h4, h5, h6 {
    color:ghostwhite;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

p {
    color:aqua;
}
a {
    color: #0099cc;
    text-decoration: none;
}

/* header styles */
header {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6Rod6Zv5NUMyCPUzTpMMcA8Ib4LlDQL6w4g&usqp=CAU");
    padding: 20px;
    position: relative;
    background-size: cover;
    backdrop-filter:initial ;
}

header h1 {
    padding-top: inherit;
    font-size: 35px;
    color: white;
}

header h6 {
    color: #999;
    font-size: 20px;
    margin: 0;
}
.header-nav {
    display: flex;
    justify-content: center;
    margin: auto; /* Add this line to center the div tags */
   }

/* nav styles */
.header-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-nav li {
    display: inline;
    margin-right: 10px;
}

.header-nav a {
    color: white;
    text-decoration: none;
}

.header-nav a:hover {
    color: #333;
}
.container{
    display: flex;
    justify-content: space-around;
}
.project1{
    margin: 20px;
    padding: 10px;
    border: 5px solid;
    width: 250px;
    height: auto;
    border-color: rgb(224, 192, 11);
    border-radius: 15px 50px 30px;
}
.project2{
    margin: 20px;
    padding: 10px;
    border: 5px solid;
    width: 250px;
    height: auto;
    border-color: rgb(224, 192, 11);
    border-radius: 15px 50px 30px;
}
.project3{
    margin: 20px;
    padding: 10px;
    border: 5px solid;
    width: 250px;
    height: auto;
    border-color: rgb(224, 192, 11);
    border-radius: 15px 50px 30px;
}
header nav button a{
    color: ivory;
    background-color: green;
}
button a{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

button:visited{
    color:rgb(224, 192, 11);
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}